ANTHROPIC_API_KEY=tu_api_key_aqui
OPENAI_API_KEY=
MCP_SERVER_URL=http://localhost:8081
CHROMA_DB_PATH=./data/vector_db
SARIP_TICKETING_URL=http://localhost:9999

USE_OLLAMA=true

# Agent LLM Configuration Mapping (YAML file name)
# Options: config.default.yaml | config.advanced.yaml | config.openai.yaml
SARIP_LLM_CONFIG=config.default.yaml

# LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=sarip-orchestrator
LANGCHAIN_API_KEY=example
