langgraph
langchain-core
langchain-anthropic
langchain-openai
pydantic
python-dotenv
httpx
chromadb
sentence-transformers
langchain-ollama
fastapi
uvicorn
psycopg2-binary
pyyaml==6.0.2
langgraph-checkpoint-sqlite
